# CodeIgniter cache & logs
/application/logs/*
!/application/logs/.gitkeep
/application/cache/*
!/application/cache/sessions/
/application/cache/sessions/*
!/application/cache/sessions/.gitkeep
!/application/cache/.gitkeep

# Uploads (user uploaded documents)
/uploads/*
!/uploads/temp/
!/uploads/temp/.gitkeep

# Deploy archives, DB dumps & OS files
*.zip
*.tar.gz
*.sql
.DS_Store
Thumbs.db
